
@import url('https://fonts.cdnfonts.com/css/heavy-heap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('fontawesome-free-6.4.2-web/css/all.min.css');

:root{
    --color1:#C16422;
    --color2:#155f93;
    --color3:#0D1481;
    --color4:#C5530F;
    --color5:#C0EEFA;
    --color6:#6B1624;
    --color7:#E3913A;
    --color8:#9C2E19;
    --color9:#0B0300;
    --color10:#68220B;
    --color-blanco: #ffffff;
    --color-negro:#000000;
}

html{
    scroll-behavior: smooth;
}

img {
    /* Para que sea responsiva */
    width: 100%;
}

p{
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 18px ;
    font-weight: 500;
    position: relative;
    
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: 'Heavy Heap', sans-serif;
    line-height: 1em;
    text-transform: uppercase; 
    cursor: context-menu;
}

h1{
    font-size: 75px;
    font-weight: 900;
    
}
h2{
    font-size: 60px ;
    font-weight: 700;
    position: relative;
}

#Team h2{
    border-bottom: solid 5px #F21D92
}

h3{
    font-size: 50px;
    font-weight: 500;
    position: relative;
}


h4{
    font-size: 21px;
    font-weight: 300;
}

#movies h3 {
    color: var(--color6);
    margin: 15px 0;
}

#movies img{
    transition: all 1s ease-in-out;
}

#movies img:hover{
    transform: translateX(-15px);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.8);
}

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

#movies h2, #reinos h2, #Team h2{
    margin: 50px 0;
}
img{
    display: block;
}

a{
    color: var(--color2);
    text-decoration: none; 
}

#main-header{
    background-color: var(--color-negro);
    color: #E3913A;
    text-align: center;
}
#barraNavegador{
    background-color: var(--color-negro);
    color: #E3913A;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#contenedor-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-banner{
    background-color: #000000;
}

#movies{
    background-color: var(--color1);
}
#movies h2 {
    color: var(--color-negro);
    width: fit-content;
    border-bottom: solid gray;
}
#movies h2:hover{
    color: var(--color3);
    border-bottom: solid var(--color2);
}

#movies img{
    border-radius: 60px 1100px 1100px 60px
}

#reinos{
    background-color: yellowgreen;
}

#reinos h2 a{
    color: var(--color-negro);
    border-bottom: solid gray;
}
#reinos h2 a:hover{
    color: var(--color3);
    border-bottom: solid var(--color2);
}

#reinos .col{
    margin: 10px;
    position: relative;
    transition: all .6s ease-in-out;
}
#reinos .row{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

#reinos img{
    border-radius: 0 30px 0 0;
    
}

#reinos .col:hover{
    transform: scale(1.15,1.15) ;
}
#reinos .col img:hover{
    box-shadow: 0px 0px 35px 6px rgba(0,0,0,0.8)
}

.imgReino{
    position: absolute;
    bottom: 0;
    right: 16.3px;
    background-color: rgba(0,0,0,0.8);
    color: var(--color-blanco);
    padding: 10px 15px;
    border-radius: 20px 0 0 0;
}

#Team{
    background-color: var(--color3);
    color: var(--color5);
    display: flex;
    justify-content: center;
    padding: 15px;
    letter-spacing: -3px;
    padding: 50px;
}

#Team h2{
    border-bottom: solid 5px #F21D92
}

#equipos{
    padding-left:5%;
    padding-right: 5%;
    text-align: left right;
    padding: 20px;
}

#equipos p{
    font-weight: 500;
    font-size: 1.5em;
}

#personajes_lideres{
    background-color: #90450a;
    color: #fce454;
}

#personajes_lideres p{
    margin: 18px 0;
}

#personajes_lideres a:hover{
    color: var(--color6);
}

#personajes_lideres h4{
    font-size: 1.6em;
}
#personajes_lideres h3{
    border-left: solid 5px greenyellow;
    padding: 10px;
}

#personajes_lideres .col{
    border: rgba(255, 255, 255, 0.2) 10px solid;
    padding-top: 15px;
    border-image: linear-gradient(180deg, var(--color5) 0%, var(--color2) 100%) 1;
    margin-right: 10px;
    margin-top: 30px;
}
#anuncio{
    background-image: url("../Images/Fondo.jpg");
    background-size: cover;
    background-position: right bottom;
    color: var(--color-blanco);
    padding: 115px 0;
}

#videos{
    color: #3E4465;
    background-color: transparent;
    background-image: radial-gradient(circle, #FF5F39 55%, #FD4426 70%);
}
#videos .row{
    flex-direction: column;
    align-items: center;
}

#videos .row iframe{
    margin: 40px 0;
}
#autos{
    background-image: linear-gradient(110deg, var(--color3) 16.6%, var(--color2) 33.3%, var(--color5)49.9%, 
    var(--color7) 66.6%, var(--color8) 83.3%, var(--color10) 100%);
}
#autos h2{
    margin: 45px 0;
    font-size: 90px;
    letter-spacing: 0.04em;
}

#autos img{
    box-shadow: 2px 2px 12px 6px rgba(0,0,0,0.6);
    transition: all .6 ease-in-out;
}

#autos img:hover{
    transform: scale(1.15,1.15);
    box-shadow: 2px 2px 25px 15px rgba(0,0,0,0.8);
}

#autos a{
    color:rgba(100, 0, 0, 1);
}

#autos a:hover{
    color:rgba(5, 181, 0, 0.8)
}

#movies, #autos, #reinos{
    padding: 50px 0;
}

#autos p{
    margin: 35px 0;
}

#autos p::before{
    content: "";
    width: 42px;
    height: 4.1px;
    background-color: #05b500;
    position: absolute;
    bottom: -5px;
}

#personajes_extras{
    background-color: #d7d7e3ff;
    color: #5f3477;
}

#personajes_extras h3{
    border-left: solid 5px greenyellow;
    padding: 10px;
}

#personajes_extras .col{
    border: rgba(255, 255, 255, 0.2) 10px solid;
    padding-top: 15px;
    border-image: linear-gradient(180deg, var(--color6) 0%, var(--color1) 100%) 1;
    margin-bottom: 10px;
    margin-top: 15px
}
#ultimate_race{
    background-image: url("../Images/Ultimate\ Race.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left;
    text-align: right;
    color: greenyellow;
    padding: 80px 0;
}

#main-footer{
    background-color: var(--color-negro);
    color: var(--color-blanco);
    text-align: right;
}

#ir-arriba{
    background-image: url(../Images/RuedaArriba.png);
    background-size: cover;
    padding: 30px;
    background-color: var(--color6);
    color: var(--color-blanco);
    position: fixed;
    bottom: 60px;
    right: 40px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    transition: all .5s ease-in-out;
}

#ir-arriba:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
}

#videojuegos{
    padding: 100px 0;
    background-color: rgba(13, 20, 130, 0.9);
}

#videojuegos h2{
    color: var(--color8);
    border-bottom: solid 8px var(--color10);
    width: fit-content;
}

#videojuegos h2:hover{
    color: greenyellow;
    border-bottom: solid 8px green;
}

.padded{
    padding-top: 30px;
    padding-bottom: 30px;
}

.row{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.row-reverse{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    flex-direction: row-reverse ;
}

.col{
    flex-basis: 0;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.image-fluid-2{
    max-width: 100%;
    background-size: cover;
}

.image-fluid{
    max-width: 100%;
}

.vertical-center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.col66{
    flex-basis: 66.67%;
    max-width: 66.67%;
}

.col50{
    flex-basis: 50%;
    max-width: 50%;
}

.col31_3{
    flex-basis: 31.3%;
    max-width: 31.3%;
}
.padding-bottom{
    padding-bottom: 35px;
}
.TK{
    background-color: var(--color4);
    text-align: right;
    color: blue;
}

.MM{
    background-color: var(--color6);
    text-align: left;
}

.RD{
    background-color:greenyellow ;
    text-align: right;
    color:var(--color-blanco)
}

.SI{
    background-color: #8710b3;
    text-align: left;
    color: #918390;
}

.imgfueracoches{
    margin-bottom: -30px;
    margin-top: -30px;
    border-radius: 100px 10px 100px 10px;
}

.imgfueracoches-reverse{
    margin-bottom: -30px;
    margin-top: -30px;
    border-radius: 10px 100px 10px 100px;
}

.hypertext{
    font-size: 5.8em;
    font-weight: 700;
    line-height: 1.2em;
    letter-spacing: -3.5px;
    text-shadow: -5px 5px 15px rgba(0,0,0,0.75);
}

.resaltar{
    color: var(--color-blanco);
}
.resaltar1{
    color: var(--color4);
}
.resaltar2{
    color: #0D1481;
}
.resaltar3{
    color:greenyellow
}

* {
    box-sizing: border-box;
}

.columna {
    float: left;
    width: 100%;
    padding-right: 60px;
}

.fila::after {
    content: "";
    clear: both;
    display: table;
}

.letrabajo{
    margin-top: 10px;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
}

.logoMenu{
    max-width: 175px;
    max-height: 85px;
}

.llamas{
    background-image: url(../Images/fondollamas.jpg);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-clip: text;
}

.contenedorimagen{
    position: relative
}

.textoimagen{
    position: absolute;
    background-color: greenyellow;
    padding: 10px;
    bottom: -23.5px;
    left: calc(5% + 6px);
    font-size: 20px;
    font-weight: 700;
}

.descripcion-imagen{
    position: absolute;
    color: var(--color-blanco);
    top: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 68%);
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

.botonvinculo{
    border: solid;
    border-radius: 75%;
    padding: 3.5px;
    margin-left: 4px;
    width: fit-content;
}

.video_16_9{
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
}

.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.menu li a{
    display: block;
}
.menu-main li a{
    padding: 30px 55px;
    text-transform:uppercase;
    color:#E3913A;
    font-weight: 700;
    font-size: 20px;
    border-bottom: solid 4px transparent;
} 
.menu-main li a:hover{
    text-decoration: none;
    color: var(--color2);
    border-bottom: solid 4px;
}

.tabla-datos{
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    background-color:var(--color2);
    color: var(--color5);
}

.tabla-datos thead tr th{
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color5);
    padding: 10px;
    text-align: center;
    border: solid 1px rgba(0, 0, 0, 0.4);
}

.tabla-datos tbody tr td{
    border: solid 1px rgba(0, 0, 0, 0.4);
    padding: 10px;
    text-align: center;
}

.tabla-datos tbody tr:nth-child(odd){
    background-color: rgba(0, 0, 0, 0.1);
}

.tabla-datos tbody tr:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.imagen-tabla{
    width: 150px;
    height: 190px;
}